@import "tailwindcss";

:root {
  background-color: #ffffff !important;
  color-scheme: light !important;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Zámek pozadí */
  position: fixed; /* Fixace pro iOS */
  background-color: #ffffff !important;
}

#root {
  height: 100%;
  width: 100%;
}