@import "tailwindcss";

:root {
  background-color: #ffffff !important;
  color-scheme: light !important;
}

/* Zabráníme posunu celého iFramu, aby mohl scrollovat jen vnitřek */
html, body {
  background-color: #ffffff !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Důležité: Tělo webu se nesmí hýbat */
  -webkit-tap-highlight-color: transparent;
}

#root {
  height: 100%;
  width: 100%;
}