@import "tailwindcss";

:root {
  background-color: #ffffff !important;
  color-scheme: light !important;
}

/* Úplné uzamčení základní vrstvy */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  position: fixed;
  background-color: #ffffff !important;
  -webkit-overflow-scrolling: none;
}

#root {
  height: 100%;
  width: 100%;
}