@import "tailwindcss";

:root {
  background-color: #ffffff !important;
  color-scheme: light !important;
}

/* Povolíme scrollování pro editor, ale ponecháme čistý základ */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background-color: #ffffff !important;
  -webkit-tap-highlight-color: transparent;
}

#root {
  min-height: 100%;
}